.my-shopping-bag h4 {
    font-size: 20px;
    font-weight: 600;
}
.half-shopping li {
    line-height: 28px;
}

.half-input input {
    outline: none;
    border-radius: 0.5rem;
    font-size: 14px;
    border: 1px solid #e4e4e4;
    height: 43px;
    padding-left: 15px;
    margin-bottom: 15px;
    position: relative;
    background-color: #f1f1f1;
}
.paytem-method {
    margin-top: 15px;
}

.media-body a {
    font-size: 16px;
    font-weight: 500 !important;
    line-height: 20px !important;
    display: inline-block;
}
.font-weight-bold {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.sis img {
    max-width: 30%;
}
.fsb p {
    font-size: 18px;
    color: #ce155a;
    position: absolute;
    bottom: 0px;
}
.border-bottom {
    border-bottom: 1px solid var(--border-color);
}